body{
    background-color: orangered;
}

.no-space{
    position: relative;
    margin:0;
    padding: 0;
    border: 0;

}
.no-bottom-space{
    background-color: rgb(250, 250, 250);
    margin-bottom:0;
    padding-bottom: 0;
    border-bottom: 0;
}
.nav-button:focus{
    background-color: orangered;
    color: white;

}

.point{
    cursor: pointer;
}




