.book{
    background-color: white;
    position: relative;
    left: 5%;
    top: 100px;
    width: 90%;
    height: 100px;
}
#heading{
    margin-left: 10px;
}
#dots{
    position: absolute;
    float: right;
    right: 5px;
    width: 75px;
    height: 75px;
    top: -10px;
    border: 0px hidden;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}
#dots:hover{
    color:black;
}
#right{
    position:absolute;
    right: 0px;
}

@media (min-width: 992px) {
  .nav-button{
    background-color: rgb(255, 255, 255);
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    border-color: rgb(254, 166, 135);
    margin-left: 2px;
    padding-bottom: 0;

    color: rgb(82, 82, 82);
  }
}
.nav-button:hover{
  background-color: rgb(254, 166, 135);
}

@media (max-width: 991px) {
  .nav-button{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(254, 166, 135);
    margin-left: 2px;
    padding-bottom: 0;

    color: rgb(82, 82, 82);
  }
}